/*Makenzi Rosas
style.css */

/* Resetting margins and padding for all elements */
body, nav, main, footer {
   margin: 0;
   padding: 0;
   border: 0;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

/*Style rules for body and images*/
body {
    font-family: Arial, sans-serif;
    background-color: #f6eee4;
    line-height: 1.6;
    max-width: 100%;
    display: block;
}

img{
    max-width: 100%;
    display: block;
}

/*Style rules for mobile viewport*/


/*Style rules to show mobile class and hide tab-desk class*/
.mobile {
    display: none;
}

.tab-desk {
    display: block;
}


/*Style rules for header area*/
.mobile {
    padding: 2%;
    text-align: center;
}

.mobile h1 {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Under fonts.google it says to use a weight value from 400 to 700*/
.mobile h3 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*Style rules for navigation area*/
nav {
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 10px;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: #f6eee4 0.5px solid;
}

nav a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
}


/*Style rules for main content*/

main{
    padding: 2%;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}

#contact {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.round {
    color:#f6eee4;
    text-decoration: none;
    font-weight: bold;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*Style rules for main content on index page*/

main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

p {
    font-size: 1.25em;
}

h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#contact {
    text-align: center;
}

/*About Page*/
div#info {
    padding: 2%;
}

ul#animals {
    padding: 1% 2%;
    list-style-type: square;
}


/*Style rules for footer content*/

footer {
    background-color: #2a1f14;
    color: #f6eee4;
    font-size: 0.85em;
    text-align: center;
    padding: 1% 0%;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}

/*Media Query for Tablet Viewport*/
@media (min-width: 620px) {
    /*Tablet viewport: Show tab-desk class, hide mobile class */
    /*Tablet viewport: style rules for nav area*/
    
    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav li {
        display: inline-block;
        font-size: 1.25em;
        padding: 0.5em;
    }
    
    main {
        padding: 5%;
    }
    
    #action {
        font-size: 1.5em;
    }
}

/*Media Query for Desktop Viewport*/
@media (min-width: 1000px) {
    /*Desktop viewport: Style rules for nav area*/
    nav li {
        font-size: 1.5em;
    }

    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #2a1f14;
        background-color: #f6eee4;
    }

    /*Desktop viewport: Style rules for main content*/
    #info ul {
        margin-left: 5%;
    }
}

/*Media Query for Large Desktop Viewport*/
@media (min-width: 1921px) {
    body {
        background: linear-gradient(#f6eee4, #78593a);
    }

    nav li {
        display: inline-block;
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-left: 1.5em;
    }

    #wrapper {
        width: 1920px;
        margin-top: 0px;
        margin-right: auto;
    }

    main {
        background-color: #f6eee4;
    }
}

/*Media Query for Print*/
@media print {
    body {
        background: white;
        color: black;
    }
}